*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}

.main_container {
  //display: grid;
  //grid-template-columns: repeat(auto-fill, 50%);
  ////height: 100vh;
  //grid-template-rows: repeat(auto-fill, 800px);
  //margin-bottom: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;

  .gallary {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .carousel {
    margin: 0 10px;
    object-fit: fill;
  }

  .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .general_logo {
    width: 100%;
  }

  .general_quote {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 1500px) {

  .main_container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .general_quote {
    font-size: 1rem;
  }
  .general_logo{
    width: 400px;
  }
  .gallary {
    margin: 50px 0;
  }
}
