.reciepesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .titles {
    font-family: 'Fredericka the Great', cursive;
  }

  .reciepesCards {
    //display: grid;
    //grid-template-columns: repeat(3, 1fr);
    //grid-gap: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
    //padding-left: 100px;
    //margin-bottom: 200px;
    //overflow: hidden;


    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
      //overflow: hidden;
    }


  }


  .card {
    padding: 10px;

    margin: auto;

    .reciepeTitle {
      font-size: .8rem;
      font-weight: bolder;
      text-transform: uppercase;

    }

    .reciepeName {
      font-family: 'Nothing You Could Do', cursive;
      font-size: 1.5rem;
    }

    button{
      position: fixed;
      bottom: 5%;
      left: 20%;
    }

  }
}


.coockingTopic {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: auto;
  overflow: hidden;
  margin-bottom: 150px;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  img {
    width: 50%;
    float: left;
    margin: 7px;
    border-radius: 1px;
    transition: .3s all;
  }

  img:hover {
    opacity: 0.6;

  }


  .item {
    overflow-wrap: break-word;
    //border: 1px solid rgba(0, 0, 0, 0.35);
    transition: all .3s;


    .paragraph {
      margin: auto;
      font-size: 1rem;
      width: 60%;
    }
  }

  .item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

  }


}