$c_0: #000000;
$c_1: #353540;

.l-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
  max-width: 1200px;
  padding: 30px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 5px;
  }

}

.b-game-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    //background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-color: #e5e1e0;;
    color: #3b3a3a;
    background-size: cover;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(.001deg);
    transition: transform .35s ease-in-out;

    // Gloss

    &::after {
      display: block;
      content: '';
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
      transform: translateY(-20%);
      will-change: transform;
      transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1);
    }

  }

  &:hover &__cover {
    transform: rotateX(7deg) translateY(-6px);

    &::after {
      transform: translateY(0%);
    }

  }

  // Shadows

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba($c_0, 0.5);
    box-shadow: 0 6px 12px 12px rgba($c_0, 0.4);
    will-change: opacity;
    transform-origin: top center;
    transform: skewX(.001deg);
    transition: transform .35s ease-in-out, opacity .5s ease-in-out;
  }

  &:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }

}

.wrapperAboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .bottomInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 50px;

  }

  @media screen and (max-width: 1200px) {
    .mainContent{
      display: flex;
      flex-direction: column;

    }
    .bottomInfo{
      display: flex;
      flex-direction: column;
    }
    .testForm{
      display: flex;
      justify-content: center;
    }
  }

}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 100px;

  .generalForm{
    width: 95%;
  }

  .testForm {
    width: 100%;
  }

  $primary: #f8e10d;
  $secondary: #efeee9;
  $white: #fff;
  $gray: #9b9b9b;

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    //width: 50%;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1rem;
    color: $gray;
    padding: 5px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1rem;
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
  }

  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
  }

  /* reset input */
  .form__field {
    &:required, &:invalid {
      box-shadow: none;
    }
  }

  /* demo */
  //body {
  //  display: flex;
  //  //flex-direction: column;
  //  //justify-content: center;
  //  //align-items: center;
  //  //min-height: 100vh;
  //  font-size: 1.5rem;
  //  background-color: #222222;
  //}

}